---
http_interactions:
- request:
    method: post
    uri: https://service2.usaa.com/ofx/OFXServlet
    body:
      encoding: UTF-8
      string: "OFXHEADER:100\r\nDATA:OFXSGML\r\nVERSION:102\r\nSECURITY:NONE\r\nENCODING:USASCII\r\nCHARSET:1252\r\nCOMPRESSION:NONE\r\nOLDFILEUID:NONE\r\nNEWFILEUID:20140301164959\r\n\r\n<OFX>\r\n
        \ <SIGNONMSGSRQV1>\r\n    <SONRQ>\r\n      <DTCLIENT>20140301164959.000[0:EST]\r\n
        \     <USERID>014939639\r\n      <USERPASS>4859\r\n      <LANGUAGE>ENG\r\n
        \     <FI>\r\n        <ORG>USAA\r\n        <FID>24591\r\n      </FI>\r\n      <APPID>OFX\r\n
        \     <APPVER>0010\r\n    </SONRQ>\r\n  </SIGNONMSGSRQV1>\r\n  <BANKMSGSRQV1>\r\n
        \   <STMTTRNRQ>\r\n      <TRNUID>20140301164959\r\n      <STMTRQ>\r\n        <BANKACCTFROM>\r\n
        \         <BANKID>314074269\r\n          <ACCTID>0100914446\r\n          <ACCTTYPE>CHECKING\r\n
        \       </BANKACCTFROM>\r\n        <INCTRAN>\r\n          <DTSTART>20140130\r\n
        \         <DTEND>20140205\r\n          <INCLUDE>Y\r\n        </INCTRAN>\r\n
        \     </STMTRQ>\r\n    </STMTTRNRQ>\r\n  </BANKMSGSRQV1>\r\n</OFX>\r\n"
    headers:
      Content-Type:
      - application/x-ofx
  response:
    status:
      code: 200
      message: OK
    headers:
      Env:
      - 1a
      Content-Type:
      - application/x-ofx
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: "OFXHEADER:100\r\nDATA:OFXSGML\r\nVERSION:102\r\nSECURITY:NONE\r\nENCODING:USASCII\r\nCHARSET:1252\r\nCOMPRESSION:NONE\r\nOLDFILEUID:NONE\r\nNEWFILEUID:20140301164959\r\n\r\n<OFX><SIGNONMSGSRSV1><SONRS><STATUS><CODE>0<SEVERITY>INFO<MESSAGE>Success</STATUS><DTSERVER>20140301215000<LANGUAGE>ENG<FI><ORG>USAA<FID>24591</FI></SONRS></SIGNONMSGSRSV1><BANKMSGSRSV1><STMTTRNRS><TRNUID>20140301164959<STATUS><CODE>0<SEVERITY>INFO<MESSAGE>Success</STATUS><STMTRS><CURDEF>USD<BANKACCTFROM><BANKID>314074269<ACCTID>0100914446<ACCTTYPE>CHECKING</BANKACCTFROM><BANKTRANLIST><DTSTART>20140129120000<DTEND>20140205120000<STMTTRN><TRNTYPE>ATM<DTPOSTED>20140205120000<TRNAMT>3.5<FITID>201402050000004<NAME>ATM
        SURCHARGE REBATE</STMTTRN><STMTTRN><TRNTYPE>POS<DTPOSTED>20140205120000<TRNAMT>-113.57<FITID>201402050000003<SIC>5411<NAME>TRADER
        JOE'S #           SPRINGF</STMTTRN><STMTTRN><TRNTYPE>POS<DTPOSTED>20140205120000<TRNAMT>-22.82<FITID>201402050000002<SIC>5411<NAME>HARRIS
        TE 4250 Campbel   ARLINGT</STMTTRN><STMTTRN><TRNTYPE>POS<DTPOSTED>20140205120000<TRNAMT>-15.24<FITID>201402050000001<SIC>5411<NAME>GIANT
        FOOD INC           ALEXAND</STMTTRN><STMTTRN><TRNTYPE>POS<DTPOSTED>20140204120000<TRNAMT>-26.24<FITID>201402040000002<SIC>5411<NAME>HARRIS
        TE 4641 Duke St   ALEXAND</STMTTRN><S[...]
