---
http_interactions:
- request:
    method: post
    uri: https://service2.usaa.com/ofx/OFXServlet
    body:
      encoding: UTF-8
      string: "OFXHEADER:100\r\nDATA:OFXSGML\r\nVERSION:102\r\nSECURITY:NONE\r\nENCODING:USASCII\r\nCHARSET:1252\r\nCOMPRESSION:NONE\r\nOLDFILEUID:NONE\r\nNEWFILEUID:20140302132232\r\n\r\n<OFX>\r\n
        \ <SIGNONMSGSRQV1>\r\n    <SONRQ>\r\n      <DTCLIENT>20140302132232.000[0:EST]\r\n
        \     <USERID>014939639\r\n      <USERPASS>4859\r\n      <LANGUAGE>ENG\r\n
        \     <FI>\r\n        <ORG>USAA\r\n        <FID>24591\r\n      </FI>\r\n      <APPID>OFX\r\n
        \     <APPVER>0010\r\n    </SONRQ>\r\n  </SIGNONMSGSRQV1>\r\n  <BANKMSGSRQV1>\r\n
        \   <STMTTRNRQ>\r\n      <TRNUID>20140302132232\r\n      <STMTRQ>\r\n        <BANKACCTFROM>\r\n
        \         <BANKID>314074269\r\n          <ACCTID>0100914446\r\n          <ACCTTYPE>CHECKING\r\n
        \       </BANKACCTFROM>\r\n        <INCTRAN>\r\n          <DTSTART>20140102000000.000[0:EST]\r\n
        \         <DTEND>20141003000000.000[0:EDT]\r\n          <INCLUDE>Y\r\n        </INCTRAN>\r\n
        \     </STMTRQ>\r\n    </STMTTRNRQ>\r\n  </BANKMSGSRQV1>\r\n</OFX>\r\n"
    headers:
      Content-Type:
      - application/x-ofx
  response:
    status:
      code: 200
      message: OK
    headers:
      Env:
      - 2a
      Content-Type:
      - application/x-ofx
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: "OFXHEADER:100\r\nDATA:OFXSGML\r\nVERSION:102\r\nSECURITY:NONE\r\nENCODING:USASCII\r\nCHARSET:1252\r\nCOMPRESSION:NONE\r\nOLDFILEUID:NONE\r\nNEWFILEUID:20140302132232\r\n\r\n<OFX><SIGNONMSGSRSV1><SONRS><STATUS><CODE>0<SEVERITY>INFO<MESSAGE>Success</STATUS><DTSERVER>20140302182233<LANGUAGE>ENG<FI><ORG>USAA<FID>24591</FI></SONRS></SIGNONMSGSRSV1><BANKMSGSRSV1><STMTTRNRS><TRNUID>20140302132232<STATUS><CODE>0<SEVERITY>INFO<MESSAGE>Success</STATUS><STMTRS><CURDEF>USD<BANKACCTFROM><BANKID>314074269<ACCTID>0100914446<ACCTTYPE>CHECKING</BANKACCTFROM><BANKTRANLIST><DTSTART>20140101120000<DTEND>20140302120000<STMTTRN><TRNTYPE>POS<DTPOSTED>20140228120000<TRNAMT>-9.26<FITID>201402280000002<SIC>5411<NAME>HARRIS
        TE 600 North Gl   ARLINGT</STMTTRN><STMTTRN><TRNTYPE>POS<DTPOSTED>20140228120000<TRNAMT>-5.45<FITID>201402280000001<SIC>5812<NAME>BUZZ
        BAKERY -AR          ARLINGT</STMTTRN><STMTTRN><TRNTYPE>POS<DTPOSTED>20140227120000<TRNAMT>-245.76<FITID>201402270000005<SIC>5411<NAME>FT
        MYER C BLDG 523 CAR   ARLINGT</STMTTRN><STMTTRN><TRNTYPE>POS<DTPOSTED>20140227120000<TRNAMT>-108.86<FITID>201402270000004<SIC>7230<NAME>HAIR
        CUTTERY #3390       ARLINGT</STMTTRN><STMTTRN><T[...]
