%h2 Welcome to the booher family site.

%h3 Welcome

%p
  Welcome to the hub for information on Tim, Chrissy, Lauren, Ellie, David and Anne Booher!
  You are probably here as a friend or you might be looking for some information we have generated.
  This site is here because I believe in sharing what I have read, thought or done.
  It helps me remember, and it might save you some time. Please give us feedback and participate
  in the site if we have helped you out or can be of further assistance.

= image_tag "all_the_kids.jpg"