/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

h1 {
    letter-spacing: 3px;
}

footer {
    padding-top: 20px;
    margin-top: 10px;
    color: #a9a9a9;
}

.black {
    background-color: #daa520 !important;
    border:1px solid black !important;
    width: 20px;
}

/* EVENT COLORS */
.Important, .fc-agenda .Important .fc-event-time, .Important a {
    background-color:burlywood !important; /* background color */
    border-color: black;     /* border color */
    color: black;           /* text color */
}

.Mandatory, .fc-agenda .Mandatory .fc-event-time, .Mandatory a {
    background-color:darkseagreen; /* background color */
    border-color: black;     /* border color */
    color: black;           /* text color */
}

.Optional, .fc-agenda .Optional .fc-event-time, .Optional a {
    background-color:gainsboro; /* background color */
    border-color: slategray;     /* border color */
    color: black;           /* text color */
}

.day {
    width:30px;
}

textarea {
    width:80% !important;
    height:80px !important;
}
