
.calendar td { height: 40px; width: 14.28%; }

.calendar_report {
  height:10px;
  width: 100%;
}
.discipline { background-color:  #BE333F;}
.sick { background-color: #F2E9CE;}
.workout { background-color: #C8C5B1; }
.problem_attempted { background-color: #939F88;}
.flossed { background-color: #307360;}
.pointer { cursor: pointer; }
