= simple_form_for @vendor, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), expense_tracker_vendors_path, :class => 'btn'
